@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

.disabledButton {
    opacity: 0.5;
    cursor: default;
}