body {
  margin: 0;
  padding: 0;
}

.root {
  text-align: center;
}

.Nav {
  padding-bottom: 30px;
}

.marker {
  background-color: Yellow;
} /* for CKEditor display */

.chatArticle {
  text-align: left;
}

.articleEditor {
  margin-top: 30px;
}

.announce {
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.personal {
  display: inline-flex;
}