@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #d6f2f2;
}

.disabledButton {
    opacity: 0.5;
    cursor: default;
}

.root {
  text-align: center;
}

.Nav {
  padding-bottom: 30px;
}

.marker {
  background-color: Yellow;
} /* for CKEditor display */

.chatArticle {
  text-align: left;
}

.articleEditor {
  margin-top: 30px;
}

.announce {
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.personal {
  display: inline-flex;
}