@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
  margin: 0;
  padding: 0;
  font-family: '標楷體', sans-serif;
}

.root {
  text-align: center;
}

.Nav {
  padding-bottom: 30px;
}

.marker {
  background-color: Yellow;
} /* for CKEditor display */

.chatArticle {
    text-align: left;
}

.articleEditor {
    margin-top: 30px;
}